# Infra
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=

# EUREKA & Gateway
EUREKA_SERVER_URL=http://localhost:8761/eureka/
EUREKA_PORT=8761
GATEWAY_PORT=8000

# External Service URLs
SERVICES_AUCTION_BASE_URL=http://localhost:8300

# Databases
USER_DB=bidket_user
PRODUCT_DB=bidket_product
AUCTION_DB=bidket_auction
QUEUE_DB=bidket_queue
ORDER_DB=bidket_order
NOTIFICATION_DB=bidket_notification

# Security / Tokens
JWT_SECRET=jwtsecretkeyjwtsecretkeyjwtsecretkeyjwtsecretkeyjwtsecretkeyjwtsecretkey
JWT_ACCESS_TOKEN_EXPIRATION=3600000
JWT_REFRESH_TOKEN_EXPIRATION=604800000

ACTIVE_TOKEN_SECRET=activetokensecretactivetokensecretactivetokensecretactivetokensecret
ACTIVE_TOKEN_EXPIRATION=3600

# Integrations
SLACK_WEBHOOK_URL=

EMAIL_USERNAME=
EMAIL_PASSWORD=

# Google OAuth
GOOGLE_CLIENT_ID=
