server:
  port: 8400

spring:
  application:
    name: queue-service
  config:
    import: optional:file:.env[.properties]

  datasource:
    url: jdbc:h2:mem:test
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  data:
    redis:
      host: localhost
      port: 6379

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}

jwt:
  secret: ${JWT_SECRET}
  expired_at: ${JWT_EXPIRED_AT}